@page "/componentpen"
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.JSInterop
@using System.Reflection
@using System.Linq
@using System.Text.RegularExpressions
@* @using OpenAI
@using OpenAI.Chat *@
@using OpenAI.ChatGpt
@using OpenAI.ChatGpt.Models.ChatCompletion.Messaging
@using Radzen
@using Radzen.Blazor
@using Markdig

@inject IJSRuntime JSRuntime
@inject NotificationService NotificationService

<RadzenNotification />

<div class="component-pen-container">
    <RadzenCard class="rz-background-color-primary-lighter rz-shadow-0 rz-border-radius-0 rz-p-4">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
            <RadzenIcon Icon="code" class="rz-color-primary-dark" Style="font-size: 2rem;" />
            <RadzenText TextStyle="TextStyle.H3" class="rz-color-primary-dark rz-m-0">ComponentPen</RadzenText>
        </RadzenStack>
    </RadzenCard>

    <RadzenCard class="rz-my-4 rz-mx-4 rz-p-0">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" class="rz-p-4">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                <RadzenIcon Icon="edit" />
                <RadzenLabel Text="Component Name:" For="componentName" />
                <div class="rz-p-0 rz-display-flex rz-align-items-center">
                    <RadzenDropDown @bind-Value="selectedComponentName" Data="@savedComponentNames" Change="@OnDropDownChange"
                                    AllowClear="true" Placeholder="Select component" Style="width: 200px;" />
                    <RadzenTextBox @bind-Value="componentName" Placeholder="Enter component name" Style="width: 200px; margin-left: 8px;" />
                </div>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem">
                <RadzenButton Click="SaveComponent" Text="Save" ButtonStyle="ButtonStyle.Primary" Icon="save" />
                <RadzenButton Click="LoadComponent" Text="Load" ButtonStyle="ButtonStyle.Secondary" Icon="folder_open" />
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>

    <RadzenSplitter Orientation="Orientation.Horizontal" class="rz-mx-4 component-pen-content">
        <RadzenSplitterPane Size="50%" Min="30%" Max="70%">
            <RadzenCard class="editor-card h-100">
                <RadzenTabs SelectedIndex="@selectedTabIndex" Change="@OnTabChange">
                    <Tabs>
                        <RadzenTabsItem Text="HTML" Icon="code">
                            <RadzenTextArea @bind-Value="htmlInput" Change="OnInputsChange" Class="code-editor" Style="height: calc(100vh - 300px); width: 100%;" />
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="CSS" Icon="brush">
                            <RadzenTextArea @bind-Value="cssInput" Change="OnInputsChange" Class="code-editor" Style="height: calc(100vh - 300px); width: 100%;" />
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="JavaScript" Icon="javascript">
                            <RadzenTextArea @bind-Value="jsInput" Change="OnInputsChange" Class="code-editor" Style="height: calc(100vh - 300px); width: 100%;" />
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </RadzenCard>
        </RadzenSplitterPane>
        <RadzenSplitterPane Size="50%" Min="30%" Max="70%">
            <RadzenCard class="preview-card h-100">
                <RadzenStack Orientation="Orientation.Vertical" Gap="1rem" class="h-100">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
                        <RadzenButton Click="UpdatePreview" Text="Update Preview" ButtonStyle="ButtonStyle.Info" Icon="refresh" />
                        <RadzenSelectBar @bind-Value="selectedView" AllowNull="false">
                            <Items>
                                <RadzenSelectBarItem Text="Preview" Value="@constPreview" Icon="visibility" />
                                <RadzenSelectBarItem Text="Source" Value="@constSource" Icon="code" />
                                <RadzenSelectBarItem Text="Explain" Value="@constExplain" Icon="code" />
                            </Items>
                        </RadzenSelectBar>
                    </RadzenStack>
                    <div class="preview-pane flex-grow-1">

                        <RadzenCard class="h-100" JustifyContent="JustifyContent.SpaceBetween">
                            @if (selectedView == constPreview)
                            {
                                @if (renderFragment != null)
                                {
                                    @renderFragment
                                }
                            }
                            else if (selectedView == constSource)
                            {
                                <RadzenTextArea Value="@generatedRazorCode" ReadOnly="true" Style="width: 100%; height: 80%;" Class="code-editor rz-textarea" />
                            }
                            @if (selectedView == constExplain)
                            {
                                @if (!string.IsNullOrEmpty(chatGptKey))
                                {
                                    <RadzenButton Click="@ClearChatGptKey" Text="Clear Key" ButtonStyle="ButtonStyle.Danger" Icon="clear" class="button-padding" />
                                }
                                @if (string.IsNullOrEmpty(chatGptKey))
                                {
                                    <div class="rz-p-0 rz-display-flex rz-align-items-center">
                                        <RadzenPassword @bind-Value="chatGptKey" Change="OnChatGptKeyChange" Placeholder="Enter ChatGPT key" Style="width: 200px; margin-left: 8px;" />
                                        <RadzenButton Click="SaveChatGptKey" Text="Submit" ButtonStyle="ButtonStyle.Primary" Icon="save" class="button-padding" />
                                    </div>
                                }
                                else
                                {
                                    <RadzenButton Click="@ExplainCSS" Text="Get Explanation" ButtonStyle="ButtonStyle.Primary" Icon="live_help" class="right-align button-padding" />
                                    <RadzenHtmlEditor id="Explanation" ReadOnly="true" Value="@htmlExplanation" Style="margin-top: 20px; height: 65%;" />
                                    <div>@statusMessage</div>

                                    <!-- Copy to Clipboard Button -->
                                    @if (!string.IsNullOrEmpty(codeExplanation))
                                    {
                                        <RadzenButton Visible="@(!string.IsNullOrEmpty(htmlExplanation))" Click="@CopyExplanationToClipboard" Text="Copy Explanation to Clipboard" ButtonStyle="ButtonStyle.Info" Icon="content_copy" Style="margin-top: 10px;" />
                                    }


                                }
                            }
                        </RadzenCard>

                    </div>
                </RadzenStack>
            </RadzenCard>
        </RadzenSplitterPane>
    </RadzenSplitter>

    <RadzenCard class="rz-mt-4 rz-mx-4 rz-p-2 rz-text-align-center">
        <RadzenText TextStyle="TextStyle.Caption">BlazorPen - A Blazor CodePen Clone | Created with ❤️ using Blazor</RadzenText>
    </RadzenCard>
</div>

@code {
    private string componentName = string.Empty;
    private string selectedComponentName = string.Empty;
    private string htmlInput = @"<h3>Hello, Blazor!</h3>

<CounterComponent />
<CounterComponent />
<CounterComponent />
<CounterComponent />
<h3>Goodbye, Blazor!</h3>";
    private string cssInput = "h3 { color: blue; }";
    private string jsInput = "console.log('JavaScript executed!');";
    private string selectedView = "preview";
    private string generatedRazorCode = "intentionally blank";

    private const string constPreview = "preview";
    private const string constSource = "source";
    private const string constExplain = "explain";
    private int selectedTabIndex = 0;

    private RenderFragment? renderFragment;
    private Dictionary<string, Type> _componentTypes = new();
    private List<string> savedComponentNames = new List<string>();

    private string statusMessage = string.Empty;

    private string chatGptKey = "";
    private string codeExplanation = "intentionally blank";
    private string htmlExplanation = string.Empty;
    private OpenAI.ChatGpt.OpenAiClient openAIClient;


    protected override async Task OnInitializedAsync()
    {
        var assembly = Assembly.GetExecutingAssembly();
        _componentTypes = assembly.GetTypes()
            .Where(t => typeof(ComponentBase).IsAssignableFrom(t) && !t.IsAbstract)
            .ToDictionary(t => t.Name, t => t);

        await LoadSavedComponentNames();
        await LoadChatGptKey();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("eval", @"
                window.setupCodeEditor = function() {
                    console.log('Code editor setup complete');
                };

                window.updateCodeEditor = function(index) {
                    console.log('Switched to tab index: ' + index);
                };
            ");

            await JSRuntime.InvokeVoidAsync("setupCodeEditor");
        }
    }

    private async void OnChatGptKeyChange(string value)
    {
        chatGptKey = value;
        await SaveChatGptKey();
    }

    private async Task ClearChatGptKey()
    {
        try
        {
            chatGptKey = string.Empty;

            // Remove the key from local storage
            await JSRuntime.InvokeVoidAsync("localStorage.removeItem", "ChatGptKey");

            // Set the OpenAI client to null
            openAIClient = null;

            // Show success notification
            NotificationService.Notify(NotificationSeverity.Info, "Info", "OpenAI API key cleared.");
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Error clearing API key: {ex.Message}");
        }

        // Update the UI
        StateHasChanged();
    }

    private async Task SaveChatGptKey()
    {
        if (string.IsNullOrEmpty(chatGptKey))
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "Please enter your OpenAI API key.");
            return;
        }

        try
        {
            // Save the key to local storage
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "ChatGptKey", chatGptKey);

            // Show success notification
            NotificationService.Notify(NotificationSeverity.Success, "Success", "OpenAI API key saved successfully!");
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Error saving API key: {ex.Message}");
        }

        // Update the UI
        StateHasChanged();
    }

    private async Task LoadChatGptKey()
    {
        try
        {
            var key = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "ChatGptKey");
            if (!string.IsNullOrEmpty(key))
            {
                chatGptKey = key;

                // Show success notification
                NotificationService.Notify(NotificationSeverity.Success, "Success", "OpenAI API key loaded successfully!");
            }
            else
            {
                chatGptKey = string.Empty;
                openAIClient = null;

                // Show info notification
                NotificationService.Notify(NotificationSeverity.Info, "Info", "No OpenAI API key found.");
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Error loading API key: {ex.Message}");
        }
    }

    private async Task ExplainCSS()
    {
        try
        {
            codeExplanation = string.Empty;
            statusMessage = "Preparing to call OpenAI API...";
            StateHasChanged();

            // Ensure the API key is available
            if (string.IsNullOrEmpty(chatGptKey))
            {
                codeExplanation = "Please enter your OpenAI API key.";
                statusMessage = string.Empty;
                return;
            }

            // Instantiate the OpenAI client if not already done
            if (openAIClient == null)
            {
                openAIClient = new OpenAI.ChatGpt.OpenAiClient(chatGptKey);
            }

            statusMessage = "Calling OpenAI API... This may take a few moments...";
            StateHasChanged();

            var userMessage = new UserMessage(
                    $@"Analyze each CSS Class and its constituent elements and
                describe in detail the role it plays in rendering the UI.
                Be specific and thorough. Here is the Razor component: \n\n{generatedRazorCode}"
            );

            // Clear any previous explanation
            codeExplanation = string.Empty;

            // Stream the response from OpenAI API
            await foreach (string chunk in openAIClient.StreamChatCompletions(userMessage, maxTokens: 2000))
            {
                codeExplanation += chunk;
                statusMessage = "Processing response...";
                StateHasChanged(); // Update the UI with the new chunk
            }

            htmlExplanation = Markdig.Markdown.ToHtml(codeExplanation);

            statusMessage = "Explanation received.";
            StateHasChanged();
        }
        catch (Exception ex)
        {
            codeExplanation = $"Error: {ex.Message}";
            statusMessage = "Failed to get explanation.";
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to get explanation: {ex.Message}");
        }
        finally
        {
            statusMessage = string.Empty;
            StateHasChanged();
        }
    }

    private async Task CopyExplanationToClipboard()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", codeExplanation);
            NotificationService.Notify(NotificationSeverity.Success, "Success", "Explanation copied to clipboard!");
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to copy explanation: {ex.Message}");
        }
    }


    private async Task LoadSavedComponentNames()
    {
        var namesJson = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "SavedComponentNames");
        if (!string.IsNullOrEmpty(namesJson))
        {
            savedComponentNames = System.Text.Json.JsonSerializer.Deserialize<List<string>>(namesJson) ?? new List<string>();
        }
    }

    private async void OnInputsChange()
    {
        generatedRazorCode = GenerateRazorComponentCode();
        StateHasChanged();
    }

    private void OnDropDownChange(object value)
    {
        if (value != null)
        {
            componentName = value.ToString() ?? string.Empty;
        }
    }

    private async Task OnTabChange(int index)
    {
        selectedTabIndex = index;
        await JSRuntime.InvokeVoidAsync("updateCodeEditor", index);
    }

    private void UpdatePreview()
    {
        generatedRazorCode = GenerateRazorComponentCode();

        renderFragment = builder =>
        {
            var sequence = 0;
            builder.OpenElement(sequence++, "style");
            builder.AddContent(sequence++, cssInput);
            builder.CloseElement();
            RenderContent(builder, ref sequence, htmlInput);
            JSRuntime.InvokeVoidAsync("eval", jsInput);
        };

        StateHasChanged();
    }

    private void RenderContent(RenderTreeBuilder builder, ref int sequence, string content)
    {
        var remainingContent = content;

        while (!string.IsNullOrEmpty(remainingContent))
        {
            var componentMatch = _componentTypes.Keys
                .Select(tag => new { Tag = tag, Index = remainingContent.IndexOf($"<{tag}", StringComparison.OrdinalIgnoreCase) })
                .Where(m => m.Index != -1)
                .OrderBy(m => m.Index)
                .FirstOrDefault();

            if (componentMatch == null)
            {
                builder.AddMarkupContent(sequence++, remainingContent);
                break;
            }

            if (componentMatch.Index > 0)
            {
                builder.AddMarkupContent(sequence++, remainingContent.Substring(0, componentMatch.Index));
            }

            var tagCloseIndex = remainingContent.IndexOf("/>", componentMatch.Index, StringComparison.OrdinalIgnoreCase);
            var componentHtml = remainingContent.Substring(componentMatch.Index, tagCloseIndex - componentMatch.Index + 2);
            var componentType = _componentTypes[componentMatch.Tag];

            builder.OpenComponent(sequence++, componentType);
            builder.CloseComponent();

            remainingContent = remainingContent.Substring(tagCloseIndex + 2);
        }
    }

    private async Task SaveComponent()
    {
        if (string.IsNullOrWhiteSpace(componentName))
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "Please enter a component name before saving.");
            return;
        }

        var componentData = new
        {
            ComponentName = componentName,
            HtmlInput = htmlInput,
            CssInput = cssInput,
            JsInput = jsInput
        };

        var jsonData = System.Text.Json.JsonSerializer.Serialize(componentData);
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", componentName, jsonData);

        if (!savedComponentNames.Contains(componentName))
        {
            savedComponentNames.Add(componentName);
            await SaveComponentNames();
        }

        NotificationService.Notify(NotificationSeverity.Success, "Success", $"Component '{componentName}' saved successfully!");
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", generatedRazorCode);
        NotificationService.Notify(NotificationSeverity.Info, "Info", "Razor component code copied to clipboard!");
    }

    private async Task SaveComponentNames()
    {
        var namesJson = System.Text.Json.JsonSerializer.Serialize(savedComponentNames);
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "SavedComponentNames", namesJson);
    }

    private string GenerateRazorComponentCode()
    {
        return $@"
@page ""/{componentName.ToLower()}""
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

<div class=""{componentName.ToLower()}-container"">
    {htmlInput}
</div>

<style>
    {cssInput}
</style>

<script>
    {jsInput}
</script>

@code {{
    // Your code-behind logic can be added here
}}
";
    }

    private async Task LoadComponent()
    {
        if (string.IsNullOrWhiteSpace(componentName))
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "Please select or enter a component name to load.");
            return;
        }

        var jsonData = await JSRuntime.InvokeAsync<string>("localStorage.getItem", componentName);
        if (jsonData == null)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"No saved component found with the name '{componentName}'.");
            return;
        }

        try
        {
            Dictionary<string, string>? componentData = System.Text.Json.JsonSerializer.Deserialize<Dictionary<string, string>>(jsonData);

            if (componentData != null)
            {
                htmlInput = componentData["HtmlInput"];
                cssInput = componentData["CssInput"];
                jsInput = componentData["JsInput"];

                generatedRazorCode = GenerateRazorComponentCode();

                NotificationService.Notify(NotificationSeverity.Success, "Success", $"Component '{componentName}' loaded successfully!");
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", $"Error loading component: {ex.Message}");
        }
    }
}
