<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ThemedLayout>
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </ThemedLayout>
    </Found>
    <NotFound>
        <ThemedLayout>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </ThemedLayout>
    </NotFound>
</Router>
